<h1>Social Media Clone / <%= title %></h1>

<ul class = "fw-5 text-start list-style-none">
    <li>This site <b>(AMAZON CLONE)</b> still under contruction</li>
    <li>If u have account , you can go to sign in page direclty following the link 
        <a href="http://localhost:8000/users/signin">Sign In</a>
    </li>
    <li>If u dont have account , you can go to signup page following this link
        <a href="http://localhost:8000/users/signup">Sign Up</a>
    </li>

    <li>
        If You have signin in then you can go to profile page following this link
        <a href="http://localhost:8000/users/profile">User Profile</a>
    </li>
</ul>

<br>
<br>

<section id="feed-posts">

    <h2>FEED POSTS</h2>

   <%if(locals.user){%> 
<form action="/posts/new"  method = "POST" style="text-align: start;margin-left: 3rem;">

    <textarea name="content" cols="30" rows="3" placeholder="post-details"></textarea>
    <input type="submit" placeholder="Post it!" value="Post">
</form>

<%}%>

<div>
      <ul style="list-style: none; text-align: left;">
       <%for(p of post){%>
            
            <li><%= p.content%>
              <small style="background-color: brown;color: wheat;"><%=p.user.name%></small>
            </li>
        <%}%>
    </ul>
</div>
</section>