<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- <h1>Sign In Page</h1> -->
<!-- 
<form class = " d-flex align-items-center flex-column"action="/users/create-session" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required placeholder="Email" name = "email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input name = "password" type="password" class="form-control" id="exampleInputPassword1" required placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-primary">Sign In</button>
  </form> -->
   <img src="/images/logo2.PNG"  alt="" class="mx-auto  my-3" style="font-size: 12px;"> 
   <div class="card flex-column mx-auto" style="width:400px;">
       
       <h2 class="">Sign-In</h2>

       <form action = "/users/create-session" method = "POST" class="mx-3 text-start" >
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label fw-bold">Email address</label>
          <input type="email" name = "email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label fw-bold">Password</label>
          <input type="password" name= "password"class="form-control" id="exampleInputPassword1" class = "bg-warning">
        </div>
        <button class="btn btn-primary w-100 bg-warning h-75"  style = "border: none; color: black; font-weight: 400;"type="submit">Continue</button>
        </form>

        <p class="my-2 mx-3 text-start" style="font-size: 12px; line-height: 1.5; ">By continuing you agree to Amazon's Condition of Use and Privacy Notice</p>

        <a class = "text-decoration-none text-start mx-3 my-1"href="#" style="font-size: 11px;"> Need Help?</a>
   </div>

    <div class="flex-column  my-3 mx-auto" style="width: 400px;">
        <p style="font-size: 12px;color: grey;">New to Amazon?</p>
        <a href = "/users/signup" class=""><button type = "button" class="btn btn-primary  h-75"  style = "background-color : rgb(211, 202, 202);border: none; color: black; font-weight: 400;width: 95%;"type="button">Create your Amazon account</button></a>
        
        <ul class = "my-3" style="text-decoration: none; list-style: none;display: flex;justify-content: space-around;font-size: 11px;">
          <li><a href = "#" style="text-decoration: none;">Condition of Use</a></li>
          <li><a href = "#" style="text-decoration: none;">Privacy Notice</a></li>
          <li><a href = "#" style="text-decoration: none;">Help</a></li>
        </ul>
        <p style="font-size: 12px;color: grey;">@ 1996-2021 , Amazon.com, Inc or its affiliates</p>

      </div>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>