<div>

    <b><h2>Dear <%= comment.user.name%> !</h2></b>
     <br>
     <hr>
    <p>Congratulations your comment has been published successfully!</p>
     
     <h3>Content</h3>
     <br>
     <hr>
     <p><%= comment.content%></p>
     <hr>

</div>