footer div div a button {
  margin: 0;
  border: none;
  background-color: #37475a;
  width: 100%; }

footer div div a button:hover {
  background-color: #4b5055; }

footer div div ul {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  justify-content: space-around; }

footer div div li ul {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  width: 200px;
  margin-top: 2rem; }
